<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit page</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
    <form method="post" action="/posts/<%=post.id%>?_method=PATCH" class="postCon">
        <h3>post id:<%=post.id%></h3>
        <h3>username: <%=post.username%></h3>
        <img src="<%= post.pic %>"/>
        <br/>
        <textarea name="caption"><%=post.caption%></textarea>
        <br/>
        <button class="new">Submit changes</button>
    </form>
</body>
</html>