<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>all posts</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
</head>

<body>
    <h1>Instagram</h1>
    <a href="http://localhost:8080/posts/new" class="submit">Create post</a>
    <%for(post of posts){%>
        <div class="postCon">
            <h3 class="sec">@<%=post.username%>
                    <a href="http://localhost:8080/posts/<%=post.id%>/edit" class="icon">
                        <img src="/assets/edit.png" alt="edit option" />
                    </a>
            </h3>

            <a href="http://localhost:8080/posts/<%=post.id%>"><img src="<%=post.pic%>" alt="image uploaded"  id="image"/></a>
            <br/>
           
            <h3 class="sec">
                <%=post.caption%>
                <a href="http://localhost:8080/posts/<%=post.username%>/opinion"><i class="fa-regular fa-comment"></i></a>
               <form method="post" action="/posts/<%=post.id%>?_method=DELETE"><button class="icon"><img src="/assets/del.png" alt="delete option" /></button></form>
            </h3>
            <hr>
            <% if(post.comments.length != 0) { %>
                <ul id="commList">
                    <h4>comments:</h4>
                    <% post.comments.forEach(comment => { %>
                        <li><%= comment %></li>
                    <% }); %>
                </ul>
            <% } %>
            

        </div>
        <%}%>
</body>

</html>